<section class="intro">
  <div class="container">
    <p class="lead">My name is <strong class="author-name" itemprop="name">Amber Marie Boyd</strong>. 
      I'm currently a <b>first year PhD student</b> in the Department of Linguistics at <a href="https://linguistics.cornell.edu/">Cornell University</a>.
      I received my baccalaureate in Linguistics at the <a href="https://lx.berkeley.edu/">University of California, Berkeley</a> in May 2023.</p>
      
    <p>I'm a member of the <a href="https://conf.ling.cornell.edu/">Cornell Phonetics Lab</a> directed by Dr. Sam Tilsen. 
      I'm also affiliated with the <a href="https://translinguists.org/about.html">Association of Nonbinary and Trans Language Researchers.</a></p> 

    <p>My <em itemprop="jobTitle">research interests</em> include phonetics; 
      laboratory phonology; 
      interactions between spoken and written modalities; 
      documentation, revitalization, reclamation, & community work; 
      Austronesian languages; and culture, art, life, literature, & folklore.</p>
      <br>
  </div>
</section>